/* Owner: Andy Manivong o/a Point707 Technologies */
/* Edited: October 6th, 2015 */

/********** Tags **********/
body{
    font-family: Verdana, Geneva, sans-serif;
    position: absolute;
    margin: 0px;
    /* margin-top: 55px; */
    margin-top: 32px;
    padding: 0px;
    width: 100%;
    border: 0px solid green;
    background-color: rgba(0,0,0,1);
    /* background-image: url(../img/bg6.png); */
    /* background-size: 100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    text-align: center;
}
button{
    width: 75px;
    height: 25px;
    border: 0px solid white;
    border-radius: 5px;
    padding: 0px;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(70,70,70,0.8);
    /* background-color: #ffcc00; */
}
button:disabled{
    opacity: 0.7;
}
button em{
    border: 0px solid red;
    padding: 0px;
    margin: 0px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    background-image: url(../img/timerInv.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}
button em.leftImage{
    background-position: 0px 0px;
}
/* button:disabled{ */
/*    opacity: 1; */
/*    background-color: rgba(70,70,70,0.8); */
/* }*/

/********** IDs **********/
#spdDiv{ /* Main Display 1 */
    font-size: 100px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.25);
}
#toggle{
    width: 100%;
    height: 50px;
}
#popUpDiv {
    border: 0px solid blue;
    position: absolute;
    margin-top: -35px;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 3;
    opacity: 0.9;
    display: none;
}
#timeTable{
    border: 0px solid green;
    position: absolute;
    z-index: 4;
    width: 100%;
    display: none;
    color: white;
}
#timeTable td{
    border: 0px solid blue;
    background-color: #000000;
    height: 40px;
}
#safety{
    border: 0px solid red;
    position: absolute;
    padding-top: 32px;
    margin-top: -32px;
    width: 100%;
    height: 100vh;
    z-index: 100;
    text-align: center;
    color: black;
    font-size: 9px;
    background-color: white;
    font-family: "Verdana", Times, sans-serif;
}

/********** Classes **********/
.dspData{ /* Main Display 2 */
    position: fixed;
    font-size: 8px;
    width: 100%;
    height: auto;
    bottom: 10px;
    border: 0px solid green;
    border-radius: 0px;
    border-spacing: 0px 1px;
    color: white;
    text-transform: uppercase;
}
.dspData td{
    border: 0px solid red;
    border-radius: 0px;
    text-align: left;
    background-color: rgba(0,0,0,0.25);
}
.spd_table{
    position: absolute;
    width: 100%;
    height: auto;
    top: 10px;
    left: 0px;
    border: 0px solid green;
    border-radius: 0px;
    border-collapse: collapse;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
}
.spd_table td{
    border: 0px solid white;
    height: auto;
}
.tbClose{
    font-size: 8px;
    color: #ffffff;
}
.tbHead{
    font-size: 11px;
    font-weight: bold;
    color: #ffcc00;
}
.tbCont{
    font-size: 12px;
}
.flags{
    width: 10px;
    height: 10px;
}
.logo{
    border: 0px solid red;
    position: absolute;
    margin-top: -32px;
    width: 100%;
    height: 32px;
    background-color: black;
    text-align: center;
    z-index: 3;
}
.logoImg{
    height: 27px;
    width: 155px;
}
.whiteOut{
    border: 0px solid red;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 20px;
    background-color: white;
    z-index: 99;
}
.accessory{
    width: 45px;
    height: 45px;
    margin: 2px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 5px;
}

/* saveAlertStop / arm / review */
.arm{
    margin: 2px;
    width: 50px;
    height: 50px;
    background-color: rgba(70,70,70,0.8);
    
    background-image: url("../img/armOn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.armBlink{
    margin: 2px;
    width: 50px;
    height: 50px;
    -webkit-animation: fade2 3000ms infinite;
    
    background-image: url("../img/armOff.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.saveAlert{
    margin: 2px;
    width: 50px;
    height: 50px;
    -webkit-animation: fade 1000ms infinite;
    
    background-image: url("../img/save.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.saveAlertStop{
    margin: 2px;
    width: 50px;
    height: 50px;
    
    background-image: url("../img/save.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.review{
    margin: 2px;
    width: 50px;
    height: 50px;
    
    background-image: url("../img/review.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/********** Fade **********/
@-webkit-keyframes fade {
    from { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fade2 {
    from { opacity: 1; background-color: #1a7b15;}
    50% { opacity: 1; background-color: #ffcc00;}
    to { opacity: 1; background-color: #1a7b15;}
}
.blink {
    animation:fade 1000ms infinite;
    -webkit-animation:fade 1000ms infinite;
}











