/* Owner: Andy Manivong o/a Point707 Technologies */
/* Edited: October 6th, 2015 */

/********** Tags **********/

body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
    color: white;
    /* background-color: rgba(0,86,137,1); */
}
input[disabled] {
    opacity: 1;
    -webkit-text-fill-color:#000000;
}

/********** IDs **********/
#newsHeading{ /* news headlines container div */
    border: 0px solid pink;
    
    height: 250px;
    overflow: scroll;
}
#newsBody{
    border-radius: 0px;
    border: 0px solid purple;
    font-size: 15px;
    letter-spacing: 1px;
    
    width: 100%;
    height: 100%;
    overflow: scroll;
    
    word-wrap: break-word;
    
    color: black;
    font-family: Georgia;
    font-weight: normal;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    /* background-color: rgba(0,86,137,1); */
    background-image: url("point707.png");
    background-position: center;
}

/********** Classes **********/
.poweredBy{
    width: 70px;
    height: auto;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    right: 51px;
    bottom: 0px;
    background-color: white;
    border-radius: 5px;
}
.newsTable{
    width: 98%;
    margin-top: 32px;
    border: 0px solid red;
    border-collapse: collapse;
}
.newsTable td{
    vertical-align: top;
	border: 0px solid red;
}
.headButton{ /* news header button */
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
    width: 150px;
    word-wrap: white-space;
    
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 12px;
    
    border-radius: 5px;
    border: 0px solid white;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.75);
    /* background-color: #005689; */
    /* background-image: url("point707.png"); */
    background-position: center;
}
.toTop{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0px;
    right: 0px;
    background-color: black;
    color: white;
    border-radius: 100px;
    font-weight: bold;
}
.thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 150px;
    height: auto;
    padding: 5px;
}
.backBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 32px;
    right: 0px;
    background-color: black;
    color: white;
    border-radius: 100px;
    font-weight: bold;
}
.buttonThumb{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.extMedia{
    text-align: center;
}
.extMedia img{
    width: 150px;
    height: 150px;
}
.webUrl{
    border-radius: 15px;
    border: 0px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
}

.pageIP{ /* Page # indicators */
    color: black;
    text-align: center;
    font-size: 8px;
    width: 18px;
    border: 0px solid red;
    border-radius: 0px;
}
.pageBtn{
    border-radius: 50px;
	border: 0px solid red;
	color: white;
	/* background-color: #005689; */
    background-color: black;
	padding: 3px;
}
.pageBtn[disabled]{
	border: 0px solid red;
	color: white;
	background-color: transparent;
	padding: 3px;
}



a:link {color:#005689; text-decoration: none;}
a:visited {color:#005689; text-decoration: none;}
a:hover {color:#005689; text-decoration: none;}
a:active {color:#005689; text-decoration: none;}



