/* Owner: Andy Manivong o/a Point707 Technologies */
/* Edited: September 6th, 2015 */

/* Tags */
body{
    margin: 0px;
    padding: 0px;
    margin-top: 75px;
    font-family: "verdana";
    color: black;
    text-align: center;
    background-color: #ffea00;
}
h1{
    position: absolute;
    opacity: 0.25;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}
h6{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}
button{
    /* padding: 0px; */
    /* font-size: 50px; */
    /* border: 1px solid black; */
    /* border-radius: 0px; */
    /* background-color: black; */
    /* color: white; */
    /* font-weight: bold; */
    /* height:10vh; */
    /* width: 95vw; */
}

/* IDs */


/* Classes */
.ip_power{
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    border: 1px solid black;
    border-radius: 0px;
    height: 30vh;
    width: 90vw;
    background-color: yellow;
}
.quickFind{
    border: 1px solid black;
    border-radius: 0px;
    width: 50px;
    height: 25px;
}
.goBTN{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    width: 25px;
    height: 25px;
}
.ad{
    width: 50px;
    height: 50px;
    -webkit-animation:fade 1500ms infinite;
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.25; }
    to { opacity: 1.0; }
}

a:link{
    font-size: 50px;
    font-weight: bold;
    color:#000000;
    text-decoration:overline;
}
a:visited{
    font-size: 50px;
    font-weight: bold;
    color:#000000;
    text-decoration:overline;
}
a:hover{
    font-size: 50px;
    font-weight: bold;
    color:#000000;
    text-decoration:overline;
}
a:active{
    font-size: 50px;
    font-weight: bold;
    color:#000000;
    text-decoration:overline;
}



